<!-- Pendencias -->
<!-- Validar email e nome no backend-->


<div (mouseenter)="atualizar()">
  <div class="body card text-center">
    <div class="card-header">
      <h1>Usuários</h1>
    </div>
    <div class="card-body">

      <h2 class="card-text">{{totalUsuarios}}</h2>

    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>

    <input routerLink="" class="btn btn-outline-primary" type="submit" value="Cadastrar" routerLink="novo">
  </div>



  <usuarios-read></usuarios-read>

</div>